* {
  font-family: "Roboto Mono", monospace;
}

:root {
  --sidebar-width: 200px;
  --toggler-size: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../images/AboutMeBackground.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-size: x-large;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1rem;
  margin-left: 180px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.intro-head {
  flex-grow: 1; /* Expand to fill available space */
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr; /* Define two columns with equal widths */
  grid-template-rows: auto auto auto auto; /* Allow flexible row heights */
  gap: 10px; /* Gap between grid items */
  justify-items: center;
  align-items: center;
}

.intro-head p {
  color: black;
  font-size: small;
}

.intro-head p:hover {
  color: whitesmoke;
}

.sara-photo {
  width: 100%;
  max-width: 340px;
  border-radius: 10px;
}

.intro-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 100px 50px 50px;
}

.intro-text-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  padding-bottom: 36px;
}

.intro-text {
  /* background-color: lightblue; */
  background-color: rgba(173, 216, 230, 0.8); /* 50% opacity */
  padding: 20px;
  border-radius: 10px;
  /* margin: 200px 100px 50px 50px; */
  max-width: 600px;
  box-shadow: 2px 5px 20px rgba(0, 0, 10, 1);
  font-size: 15px;
}

.social-links {
}

i {
  color: black;
  font-size: 30px;
  padding-top: 40px;
}

i:hover {
  color: whitesmoke;
}

.arrow {
  height: 40px;
  margin-left: 150px;
  transform: scaleX(-1);
}

.sidebar {
  width: var(--sidebar-width);
  transform: translateX(calc(var(--sidebar-width) * -1));
  background: linear-gradient(15deg, #80d0c7 0%, #13547a 100%);
  background-size: 400% 400%;
  background-position: 90% 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  transition: transform 0.6s, background-position 1s 0.6s;
}

.input-toggler:checked ~ .sidebar {
  opacity: 0.9;
  transform: translateX(0);
  background-position: 0 0;
}

.menu {
  list-style-type: none;
}

.menu__link {
  color: black;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 5rem;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: silver;
}

.menu-toggler {
  display: block;
  width: var(--toggler-size);
  height: var(--toggler-size);
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.menu-toggler__line {
  height: calc(var(--toggler-size) / 5);
  background: #13547a;
  position: absolute;
  left: 0;
  right: 0;
  transition-property: transform, opacity;
  transition-duration: 0.5s, 0.25s;
  transition-delay: 0s, 0.5s;
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
  transition-delay: 0.25s, 0s;
}
/* calulates how far from the top the middle line will be*/
.menu-toggler__line:nth-child(2) {
  top: calc(var(--toggler-size) / 5 * 2);
  animation-duration: 0.6s;
}

.menu-toggler__line:nth-child(3) {
  top: calc(var(--toggler-size) / 5 * 4);
  animation-duration: 0.7s;
}

.input-toggler {
  display: none;
}
/* color of the Xs*/
.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
  background: silver;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
  transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
  opacity: 0;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
  transform: translateY(calc(var(--toggler-size) / 5 * -2)) rotate(-45deg);
}

@keyframes slidein {
  from {
    left: -200%;
    right: 200%;
  }
  to {
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 1100px) {
  .main-content {
    flex-direction: column;
  }
  body,
  html {
    height: 150vh;
  }
  .sara-photo {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  .intro-body {
    margin: 50px 50px 0px 50px;
  }
}

@media screen and (max-width: 800px) {
  .sara-photo {
    max-width: 270px;
  }
}
